 <div class = "postform">
                    <div class = "postformtitle">投稿を作成</div>
                  <%= form_for @post do |f| %>
                  <div class = "textareabox">
                    
                       <div class = "textareaclass">
                           <%= f.text_area :content, placeholder: "#{current_user.username}さん ー 今何してる？", class: "textarea" %>
                        </div>


                  <div class = "postimagebtns">
                     <%= f.submit "投稿" ,class: "textsubmit"%>
                     <%= f.label :image, class: "imagebutton" do%>
                        <div class = "fas fa-image fa-lg"></div>
                         <%= f.file_field :image, class: "hidden"%>
                         <%end%>
                          </div>


                          </div>
                          </div>
                          <%end%>
                          <p><strong>※画像のプレビューは出ませんのでご了承ください。<br>
                          文字のみ編集したい方はこの画面で編集し、投稿ボタンを押してください。<br>
                          画像の削除をしたい方は投稿を削除してください。<br>
                          画像を変更したい方はこの画面で画像を選択してください。</strong></p>